@charset "utf-8";

$footer-padding: 2rem 1rem;

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/notification";
@import "~bulma/sass/elements/tag";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/grid/all";
@import "~bulma/sass/layout/all";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/navbar";

.padded-container {
  @extend .container;
  padding: 3rem 1.5rem;
}

.navbar-brand.container {
  display: flex;
}
